{% extends 'base.html.twig' %}


{% block body %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style>
	body{
		background: #ffffff;
	}
	
	.btn-0{
		font-size: 20px; 
		border-radius: 4px;
		font-weight: bold;
		padding: 10px 40px;
		font-family: 'Roboto', sans-serif;
		background-color:#00BFFF;
		border: 2px solid #00BFFF;
		color: #fff;
		text-align: center;
		cursor: pointer;
	}
	.btn-0:hover{
		font-size: 20px;
		border-radius: 4px;
		font-weight: bold;
		padding: 10px 40px;
		font-family: 'Roboto', sans-serif;
		background-color:#fff;
		border: 2px solid #00BFFF;
		color: #00BFFF;
		text-align: center;
		cursor: pointer;
	}
	.btn-14{
		font-size: 20px; 
		border-radius: 4px;
		font-weight: bold;
		padding: 10px 40px;
		font-family: 'Roboto', sans-serif;
		background-color:#1E90FF;
		border:2px solid #1E90FF;
		color: #fff;
		text-align: center;
		cursor: pointer;
	}
	.btn-14:hover{
		font-size: 20px;
		border-radius: 4px;
		font-weight: bold;
		padding: 10px 40px;
		font-family: 'Roboto', sans-serif;
		background-color:#fff;
		color: #1E90FF;
		border:2px solid #1E90FF;
		text-align: center;
		cursor: pointer;
	}
	.btn-15{
		font-size: 20px;
		border-radius: 4px;
		font-weight: bold;
		padding: 10px 40px;
		font-family: 'Roboto', sans-serif;
		background-color:#0000CD;
		border:2px solid #0000CD;
		color: #fff;
		text-align: center;
		cursor: pointer;
	}
	.btn-15:hover{
		font-size: 20px;
		border-radius: 4px;
		font-weight: bold;
		padding: 10px 40px;
		font-family: 'Roboto', sans-serif;
		background-color:#fff;
		color: #0000CD;
		border:2px solid #0000CD;
		text-align: center;
		cursor: pointer;
	}
	p{
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		font-size: 20px;
	}
</style>	
<body>
    <div class="container">
    	<div class="row">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    			<div style="padding: 10px 40px; border:1px solid #0b0b0b;margin-top: 20px; height: 320px;border-radius: 2px;">
					<p>OPTIONS : </p><hr>
					<a href="{{ path('responsable',{id: client.id}) }}" class="btn-0 btn-block">Responsable</a>
					<hr>
    				<a href="{{ path('list_temoignage',{id: client.id}) }}" class="btn-14  btn-block">Temoignage</a>
					<hr>
    				<a href="" class="btn-15  btn-block">Accès</a>
    			</div>
    		</div>
    	</div>
    </div>
</body>
</html>
{% endblock %}



