{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2><b>A Propos</b></h2><hr>
        <table class="table table-striped">
            <a href="{{ path('apropos_new') }}" class="text-left">
                <div class="btn btn-primary">Ajouter</div>
            </a>
            <thead>
            <tr>
                <th>Type</th>

            </tr>
            </thead>
            <tbody>
            {% for a in apropos %}
                <tr>
                    <td>{{ a.type }}</td>

                    <td>
                        <a href="{{ path('ShowApropos',{id: a.id}) }}" class="btn btn-info">Voir</a>
                        <a href="{{ path('DeleteApropos',{id: a.id}) }}" class="btn btn secondary">Supprimer</a>


                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
