{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div>
            <iframe style="height:400px;width:800px;text-align: center;"  controls src="{{ apropos.video }}">Ici la description alternative</iframe>
            <h4 style="font-size: 35px;
        				font-weight: bold;
        				font-family: raleway;
        				color: #000;
        				padding-top: 12px;">Type:&nbsp;{{ apropos.type }}
            </h4>
            <a href="javascript:history.back()" class="btn btn-warning">Retour</a>
        </div>
    </div>

{% endblock %}