{% extends 'front.html.twig' %}

{% block style %}
<style>
.btn-7{
  text-align: center;
  font-weight: bold;
  padding: 10px 40px;
  font-size: 30px
  color: #545454;
  background: #ffffff;
  border-radius: 50px;
  border: none;
}
.btn-7:hover{
  font-weight: bold;
  padding: 10px 40px;
  font-size: 30px
  border-radius: 50px;
  background:#545454;
  border:2px solid #fff;
  color: #fff;
}

</style>	
{% endblock %}

{% block body %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  	<div class="carousel-inner">
    	<div class="carousel-item active">
      		<img src="/assets/images/service/cooptation/70.jpeg" class="d-block w-100" alt="">
      		<div class="carousel-caption d-none d-md-block" style="bottom: 270px;text-align: center;">
      			<div>
      				<h4 style="color: #ffffff; 
                    font-weight: bold;
                    font-family: 'Raleway', sans-serif;
                     text-align: left;
                    font-size: 70px;"><strong>Cooptation</strong> 
      				</h4>
      			</div>
        	</div>
    	</div>
    </div>	
</div>

<section class="container-fluid" style="padding-top: 80px; padding-bottom: 80px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 style="text-align: center; 
                    color:#545454; 
                    font-weight: bold;
                    font-size: 45px;
                    padding-bottom: 25px;"><strong>Cooptation</strong> 
        </h2>
			</div>
		</div>
		<div class="row" style="padding-top: 40px;">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3 data-aos="fade-right" data-aos-duration="800" style="padding-bottom: 20px;
                   text-align: center;
                   font-size: 30px;
                   font-weight: bold;">Le concept
        </h3>
        <div style="text-align: center;">
          <p data-aos="fade-right" data-aos-duration="1400" style="text-align: left;font-size: 20px;">
            Il s'agit d'un mode de recrutement consistant à recommander une personne de son réseau pour un poste.
          </p>
        </div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3 data-aos="zoom-in" data-aos-duration="800" style="padding-bottom: 20px;
                   text-align: center;
                   font-size: 30px;
                   font-weight: bold;">L'avantage
           </h3>
        <div style="text-align: center;">
          <p data-aos="zoom-in" data-aos-duration="1400" style="text-align: left;font-size: 20px;">
            ● Gain du temps durant le sourcing<br> 
            ● Des collaborateurs proches des valeurs de l'entreprise.<br> 
            ● Des candidats qualifiés.
          </p>
        </div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3 data-aos="fade-left" data-aos-duration="800" style="padding-bottom: 20px;
                   text-align: center;
                   font-size: 30px;
                   font-weight: bold;">La prime de cooptation
        </h3>
        <div style="text-align: center;">
          <p data-aos="fade-left" data-aos-duration="1400" style="text-align: left;font-size: 20px;">
            Corban offre une prime allant de 100.000 jusqu'à 400 00 ariary pour le coopteur dont le candidat proposé est embauchépar l'entreprise.
          </p>
        </div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid" style="background: linear-gradient(#ffbd59,#ff914d);padding-top: 40px;padding-bottom: 40px;">
	<div class="container">
		<div class="row" style="text-align: center;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 style="font-family: 'Raleway', sans-serif; 
                  font-weight: bold; 
                  padding-bottom: 35px;
                  color: #545454;
				          font-size: 40px;
				          padding-top:50px"> 
                  <strong>Envie de rejoindre notre <br>réseau de coopteur?</strong> 
        </h2>
				<div style="text-align: center;padding-bottom: 50px;">
					<p data-aos="zoom-in" data-aos-duration="900" style="text-align: justify;color: #fff;">Si vous vous inscrivez à ce formulaire, nous vous intégrons dans la liste de personnes qui vont recevoir de notre part, Corban, par email des offres d'emploi. Corban est un cabinet de recrutement/chasse de tête respectable malgache ayant des clients grands comptes. Nous sommes specialisés dans des recrutements de cadres dirigeants ou moyens d'exception. Notre dirigeant fondateur est membre de l'amDRHe (Association des DRHs d'Entreprise).
          </p>
          <p data-aos="zoom-in" data-aos-duration="900" style="text-align: justify;color: #fff;">
					Etant un coopteur, vous serez ainsi invité(e) à voir dans vos réseaux familiaux, professionnels ou associatifs s'il y a une(des) personne(s) pouvant repondre à l'offre. EN CONTREPARTIE DUQUEL, si le(la) candidat(e) que vous proposez signe un contrat, vous serez remunéré(e) par une PRIME, OU AUTRES CADEAUX DIVERS.
					</p>

					<p data-aos="zoom-in" data-aos-duration="900" style="text-align: justify;color:#000;font-size: 20px;"> <strong>NB:</strong>  Votre contact ne sera pas diffusé ou utilisé à des fins autres que l'objet de cette cooptation.</p>
				</div>
			</div>
		</div>
    <div class="row" style="padding-bottom: 40px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
        <a href="{{ path('inscription_coopteur') }}">
           <button type="button" class="btn-7" >INSCRIVEZ-VOUS</button> 
        </a>
      </div>
    </div>
	</div>
</section>
{% endblock %}