{% extends 'front.html.twig' %}

{% block style %}
{% endblock %}

{% block body %}
 <div class="container-fluid" style="padding-top: 150px;padding-bottom: 50px;
                                     background-image: url(assets/images/service/cvvideo/20.jpg);">
    <div class="container">
        <div class="row" id="tem" style="margin-left: 30em; ">
         <p><img  width="100%" height="250px" src="{{ protip.image }}"width="100%" height="300px" ></p>

        </div>
        <div id="desc" style="text-align: center;padding-bottom: 50px;">

        </div>

        <hr>

        <div class="row" style="text-align: center;font-size: 30px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 data-aos="fade-left"data-aos-duration="800" style="font-family:'Raleway', sans-serif; 
                  color:#fff;
                  font-weight: bold;
                  font-size: 45px;
                  text-align:center;">
                    <strong>Tous les Pro Tips</strong>
                </h2>
            </div>
        </div>
         <hr>
        <div class="row" id="protip" style="text-align: center;padding-top: 30px;">
         {% if protips|length != 0 %}
                        {% for p in protips %}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><div style="background-color: #2d2d2c; width: 100%; text-align: center"><a href="{{ path('show_protip',{id: p.id}) }}"><img width="100%" height="300px" src="p.image" alt="post"><p style="color:#fff;background-color:#ffbd59;padding-bottom:10px;padding-top:10px;font-size:20px;"><strong>{{ p.titre }}</strong></p></a></div></div>
                        {% endfor %}
                    {% else  %}
                        <p>Aucun Pro Tips  pour l'instant</p>
                    {% endif %}
            
        </div>  
    </div>
  </div>
  
    <script>
    var xrh=new XMLHttpRequest();
    xrh.open('GET',"http://127.0.0.1:8000/api/ressourceimage/un/<?php echo $_GET['idprotip'] ?>");
    xrh.onreadystatechange=function () {
        if (this.readyState === 4 && this.status === 200) {
            var arr=JSON.parse(xrh.response);

            document.getElementById("desc").innerHTML +='<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><div><img width="25%" height="250px" src="http://127.0.0.1:8000/uploads/'+arr.image +'" alt="post"> <a href="#"><img src="assets/images/ressource/logoin.png" style="width:5%;height:25px;  margin-top: 15em; margin-left: 4em;"></a>&nbsp;&nbsp;&nbsp;<a href="#"><img src="assets/images/ressource/logofb.png" style="width:5%;height:25px; margin-top: 15em;"></a></div>'
            document.getElementById("tem").innerHTML +='<p style="color:#fff;padding-bottom:5px;padding-top:10px;font-size:40px;" data-aos="fade-right"data-aos-duration="600" ><strong>'+arr.titre+'</strong></div>'
        }
    };
    xrh.send()


    var xhrtt=new XMLHttpRequest();
    xhrtt.open('GET','http://127.0.0.1:8000/api/ressourceimage/Pro');
    xhrtt.onreadystatechange=function () {
        if (this.readyState === 4 && this.status === 200) {
            var arr=JSON.parse(xhrtt.response);

            for(var i=0;i<arr.length;i++) {
                document.getElementById("protip").innerHTML +='<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><div style="text-align:center"><a href="index.php?page=protips&idprotip='+arr[i].id+'""><img width="100%" height="300px" src="http://127.0.0.1:8000/uploads/'+arr[i].image +'" alt="post"><p style="color:#fff;background-color:#ffbd59;padding-bottom:10px;padding-top:10px;font-size:20px;"><strong>'+arr[i].titre+'</strong></p></a></div></div>'
          }
        }
    };
    xhrtt.send()
</script>
{% endblock %}