{% extends 'front.html.twig' %}

{% block body %}
    <section class="container-fluid" style="padding-top: 100px;padding-bottom: 50px;
                                     background-image: url(assets/images/service/cvvideo/14.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                </div>
            </div>
            <center>
                <h2 data-aos="fade-right" data-aos-duration="800" style="color: #fff;
                          text-align: center;
                          font-family: Raleway Heavy;
                          font-weight: bold;
                          padding-bottom: 10px;
                          font-size: 45px;"><strong>Témoignages du client</strong>
                </h2>
                <p data-aos="fade-left" data-aos-duration="900" style="text-align: center;">Ecoutez ce que nos clients pensent de Corban. Quand vous êtes prêt, contactez-nous <br>
                    rija.rajemisa@corbanconsulting.mg<br>
                    +261 32 57 679 19 / +261 34 41 822 14<br>
                </p>
                <hr>
                <div class="row" id="tem" style="margin-left: 320px;">
                    <p><iframe src="{{ temoignage.video }}" width="500px" ></iframe>
                </div>
                <div data-aos="fade-left" data-aos-duration="900" id="desc" style="float: right; width: 300px; text-align: left; margin-top: -470px">
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 data-aos="fade-right" data-aos-duration="800" style="color: #fff;
                          text-align: center;
                          font-family: 'Raleway', sans-serif;
                          font-weight: bold;

                          font-size: 40px;"><strong>Tous les Témoignages</strong>
                        </h2>
                    </div>
                </div>
                <div class="row" id="temoin" style="text-align: center;padding-top: 20px;">
                    {% if temoignages|length != 0 %}
                        {% for t in temoignages %}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><div style="background-color: #2d2d2c; width: 100%; text-align: center"><a href="{{ path('show_temoignage',{id: t.id}) }}"><video poster="/assets/img/video1.png" src="{{ t.video }}" width="100%" height="300px"></video><p style="color:#fff;background-color:#ffbd59;padding-bottom:10px;padding-top:10px;font-size:20px;"><strong>{{ t.client.nom }}</strong></p></a></div></div>
                        {% endfor %}
                    {% else  %}
                        <p>Aucun temoignage pour l'instant</p>
                    {% endif %}
                </div>
            </center>
        </div>
    </section>

    <script>
        // var xrh=new XMLHttpRequest();
        // xrh.open('GET',"http://127.0.0.1:8000/api/lecture/un/temoignage/<?php echo $_GET['idtemoignage']; ?>");
        // xrh.onreadystatechange=function () {
        //     if (this.readyState === 4 && this.status === 200) {
        //         var arr=JSON.parse(xrh.response);
        //
        //         document.getElementById("tem").innerHTML +='<p><video controls src="http://localhost/Corban/application/back/public/uploads/'+arr.video +'" width="500px" ></video>'
        //
        //     }
        // };
        // xrh.send()


        // var xhrtt=new XMLHttpRequest();
        // xhrtt.open('GET','http://127.0.0.1:8000/api/lecture/temoignage');
        // xhrtt.onreadystatechange=function () {
        //     if (this.readyState === 4 && this.status === 200) {
        //         var arr=JSON.parse(xhrtt.response);
        //
        //         for(var i=0;i<arr.length;i++) {
        //             document.getElementById("temoin").innerHTML +=
        //                 '<div class="col-lg-3 col-md-4 col-6"><div style="background-color: #2d2d2c; width: 100%; text-align: center"><a href="index.php?page=temoignage&idtemoignage='+arr[i].id+'""><video poster="/Corban/application/assets/img/video1.png" src="http://localhost/Corban/application/back/public/uploads/'+arr[i].video +'" width="200px" height="200px"></video><p style="color:#fff;background-color:#ffbd59;padding-bottom:10px;padding-top:10px;font-size:20px;"><strong>'+arr[i].client+'</strong></p></a></div></div>'
        //         }
        //     }
        // };
        // xhrtt.send()
    </script>
{% endblock %}