{% extends 'base.html.twig' %}

{% block title %}Nouvelle offre!{% endblock %}

{% block body %}
    <div class="container">
        <h3>Nouvelle offre d'emplois</h3>
        {{ form(form) }}
    </div>

{% endblock %}
